* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid #212121;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container div input,
button {
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #212121;
}

span {
    display: none;
    font-weight: 900;
}

.loader {
    display: block;
}